<p style="text-align: center;">
ACTION - StreetSpectra<br/>
EC5 Id: {{ id }}<br/>
<img src= {{ url }} width="300"><br/>
Coordinates: {{ latitude }}, {{ longitude }}<br/>
{% for classif in classifications %}
Source {{ classif.cluster_id }}: ({{ classif.source_x }}, {{ classif.source_y }}), {{ 'Ambiguous' if not classif.spectrum_type else  classif.spectrum_type }} from {{classif.cluster_size}} classif.<br/>
{% if not classif.spectrum_type %}Classif. Distr: {{ classif.spectrum_distr }}<br/>{% endif %}
{% endfor %}
Created at {{ created_at }} by {{ observer }}</p> 
