<p style="text-align: center;">
ACTION - StreetSpectra<br/>
EC5 Id: {{ id }}<br/>
<img src= {{ new_url }} width="{{ width//2 if width else 300 }}"><br/>
Coordinates: {{ location.latitude }}, {{ location.longitude }}<br/>
Created at {{ created_at }} by {{ observer }}
</p> 
